@import "tailwindcss";

:root {
  --primary: #4682b4;
  --secondary: #708090;
  --accent: #d3d3d3;
  --text: #47525d;
  --background: #FAF9F6;
  --foreground: #b0c4de;
  --success: #78da89;
  --failure: #d06662;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-text: var(--text);
  --shadow-content-break: 0 0 2px 1px var(--accent);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-success: var(--success);
  --color-failure: var(--failure);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--text);
}

h1 {
  font-size: 5rem;
  font-weight: bolder;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
}